.userMainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dad0e1;
    border-radius: 15px;
    box-shadow: 0 1px 15px 0 rgb(51 51 51 / 20%);
    width: 60%;
    background-color: #fff;
}

.userItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.userItem {
    display: flex;
    border: 1px solid #dad0e1;
    border-radius: 15px;
    margin-bottom: 7px;
    width: 100%;
}
.userBlock {
    display: flex;
    flex-direction: column;
}

.userInfoBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userPhoto {
    width: 100px;
    height: 100px;
}

.pagination {
    margin: 7px;
}

.page {
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.selectPage {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: larger;
    font-weight: bold;
}
