.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 1px 15px 0 rgb(51 51 51 / 20%);
}

.logo {

}
.mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    border-radius: 15px;
    /*gap: 0.5em; !* отступы между блоков *!*/
}

.mainItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 1px 15px 0 rgb(51 51 51 / 20%);
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #fff;
}

.mainItem a {
    text-decoration: none;
    color: #b02adc;
}

.item {
    padding-bottom: 2px;
    font-weight: bold;
    font-size: 18px;
}
.item a {
    text-decoration: none;
    color: #b02adc;
}
.item__friends a {
    text-decoration: none;
    color: #b02adc;
}
.loginBlock {
    float: right;
    color: #9423b9;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}
.loginBlockItem {
    display: flex;
    flex-direction: column;
}


.item__friends {
    margin-top: 20px;
    padding-bottom: 2px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    letter-spacing: 5px;
}

a[class="active"]{
    color: #ff0008;
}