.main {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    letter-spacing: normal;

}

.main img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.items {
    display: flex;
    flex-direction: column;

}
