.mainBlock {
    display: flex;
    flex-direction: column;
    width: 200px;

}

.superInput {
    padding: 0.375rem 0.375rem;
    border: 1px solid #bdbdbd;
    border-radius:7px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin-bottom: 10px;
}

.errorMessage {
    color: #ce0f0f;
}