* {
    margin: 0;
    padding: 0;
}

.appWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding-top: 100px;
    margin: auto;
}

.appWrapperContent {
    display: flex;
    justify-content: space-evenly;

}
