.dialogs {
    display: flex;
    border: 1px solid #dad0e1;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 1px 15px 0 rgb(51 51 51 / 20%);
    width: 60%;
}

.dialogsItems {
    padding: 10px;
}

.dialog {
    padding-bottom: 2px;
    font-size: 18px;
    font-weight: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dialog a {
    text-decoration: none;
    color: chartreuse;
    font-weight: bold;
}
.dialog img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.prev__message {
    display: flex;
    flex-direction: column;
}

.messages {
    padding: 10px;
}

.errorMessage {
    color: red;
}

.msg {
    background-color: #d27c7c;
}