.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;

}

.dialog {
    padding-bottom: 2px;
    font-size: 18px;
    font-weight: unset;
}
.dialog a {
    text-decoration: none;
    color: chartreuse;
}

.messages {
    padding: 10px;
}

.msg {

}